.login-form {
  width: 100%;
  max-width: 450px;
  background: #FEFEFE;
  -webkit-box-shadow: 0px 0px 8px rgba(12, 18, 38, 0.06);
  box-shadow: 0px 0px 8px rgba(12, 18, 38, 0.06);
  border-radius: 4px;
  padding: 40px; }

.btn-signin {
  width: 100%; }
