// product card
.product-card {
    margin-top: 40px;
}

.product-card-img {
    position: relative;
    overflow: hidden;
}

.product-card-title,
.product-card-title a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    text-transform: capitalize;

    &:hover {
        color: var(--secondary-color);
    }
}

.product-card-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.color-lists+.product-card-title {
    margin-top: 10px;
}

.card-price-regular,
.card-price-compare {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.39;
    color: #000000;
}

.card-price-compare {
    color: var(--secondary-color);
    margin-left: 5px;
}

.card-wishlist {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
    background: #fff;
    width: 32px;
    height: 32px;
    opacity: 0;
    visibility: hidden;

    @include prefix(transition, all 0.3s ease, ms webkit spec);
    @include prefix(border-radius, 50%, ms webkit spec);
    @include prefix(display, flex, ms webkit spec);
    @include prefix(align-items, center, ms webkit spec);
    @include prefix(justify-content, center, ms webkit spec);
}

.card-wishlist .icon-wishlist {
    max-width: 18px;
}

.is-active .icon-wishlist path {
    fill: red;
}

.product-card-action-2 {
    position: absolute;
    z-index: 9;
    left: 0;
    bottom: 0;
    width: 100%;
    @include prefix(display, flex, ms webkit spec);
    @include prefix(align-items, center, ms webkit spec);
    @include prefix(justify-content, space-between, ms webkit spec);
    @include prefix(flex-wrap, wrap, ms webkit spec);

    .addtocart-btn,
    .quickview-btn {
        font-weight: normal;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 1.5px;
        width: 49%;
        cursor: pointer;
        text-align: center;
        opacity: 0;
        visibility: hidden;

        @include prefix(transition, all 0.3s ease, ms webkit spec);
        @include prefix(transform, translateY(300%), ms webkit spec);
    }

    .addtocart-btn {
        @include prefix(transition, all 0.6s ease, ms webkit spec);
    }
}

.product-card:hover {

    .addtocart-btn,
    .quickview-btn {
        opacity: 1;
        visibility: visible;
        @include prefix(transform, translateY(0%), ms webkit spec);
    }

    .card-wishlist {
        opacity: 1;
        visibility: visible;
    }
}

.color-swatch {
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #2C2C2C;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    margin: 3px 10px 0 0;
    display: inline-block;

    &.active {
        border-color: #fff;
        outline-color: #000;
    }
}

.swatch-black {
    background-color: #000;
}
.swatch-cyan {
    background-color: #ABE6FF;
}
.swatch-purple {
    background-color: #FFE0E0;
}
.swatch-blue {
    background-color: #0d6efd;
}
.swatch-orange {
    background-color: #fd7e14;
}
.swatch-teal {
    background-color: #20c997;
}

.color-lists {
    margin: 0;
    margin-top: 15px;

    >li {
        line-height: 1;
    }
}

.action-card {
    background: #fefefe;
    width: 48px;
    height: 48px;
    margin: 0 7px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    transform: translateY(0);
    opacity: 0;
    visibility: hidden;

    &:first-child {
        @include prefix(transition, all 0.2s ease, ms webkit spec);
    }

    &:last-child {
        @include prefix(transition, all 0.6s ease, ms webkit spec);
    }

    &:nth-child(2) {
        @include prefix(transition, all 0.4s ease, ms webkit spec);
    }
}

.product-card:hover .action-card {
    opacity: 1;
    visibility: visible;
    @include prefix(transform, translateY(-65%), ms webkit spec);
}

.product-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9;
}

.badge-label {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    padding: 4px 12px;
    letter-spacing: 0.03em;
    color: #FEFEFE;
    background-color: var(--primary-color);
    display: block;
    max-width: fit-content;

    +.badge-label {
        margin-top: 8px;
        background-color: var(--secondary-color);
    }
}