.cart-item-media {
    width: 100px;
}
.cart-item td {
    vertical-align: top;
    padding-top: 20px;
}
.cart-table th {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 10px;
}
.cart-table .product-vendor {
    margin-bottom: 0;
}
.cart-total-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.shipping_text,
.subtotal-value,
.subtotal-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: 0.5px;
    color: #000000;
    margin-bottom: 0;
}
.shipping_text {
    font-size: 12px;
}
.subtotal-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.cart-total-box {
    background: #F6F6F9;
    border-radius: 4px;
    padding: 32px;
}


@media (min-width: 768px) {
    .cart-item-quantity {
        text-align: center;
    }
    .cart-item-quantity .quantity {
        margin-left: auto;
        margin-right: auto;
    }
}