.faq-inner {
    margin-top: -17px;
}

.faq-container {
    margin-top: 24px;
}

.faq-heading {
    font-weight: 500;
    line-height: 1;
    color: #000000 !important;
    cursor: pointer;
    margin-bottom: 0;
}

.faq-item {
    background-color: #FFF3F3;
    padding: 30px 24px;
    margin-top: 24px;
}

.faq-body {
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.6;
    color: #000000;
    padding-top: 20px;
}

.faq-heading-icon {
    transition: all 0.3s ease;
    transform: rotate(-180deg);

    .collapsed & {
        transform: rotate(0deg);
    }
}