.newsletter-header {
    margin-bottom: 48px;
}

.newsletter-subheading {
    font-weight: 500;
    line-height: 1.2;
    color: #535F61;
    margin-bottom: 10px;

    &.colored-text {
        color: #F76B6A;
    }
}

.newsletter-heading {
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 0;
}

.newsletter-form {
    height: 80px;
    background: #fff;
    padding: 12px;
    padding-left: 24px;
}

.newsletter-btn {
    width: 56px;
    height: 56px;
    background: var(--primary-color);

    &:focus {
        outline: 0;
    }
}

.newsletter-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: 0.5px;
    color: #000000;
    opacity: 0.6;
    width: 100%;

    &:focus-visible {
        outline: 0;
    }
}

.newsletter-content-2 {
    max-width: 558px;
}

.newsletter-input-box input {
    width: calc(100% - 150px);
    min-height: 40px;
}
.newsletter-input-box button {
    max-width: 140px;
    margin-left: 10px;
}
.newsletter-modal-misc {
    line-height: 1.5;
}
.newsletter-modal-content {
    outline: 6px solid var(--primary-color);
}
.newsletter-modal-icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}