/*============================================================================
  Prefix mixin for generating vendor prefixes:
  Usage:
    // Input:
    .element {
      @include prefix(transform, scale(1), ms webkit spec);
    }

    // Output:
    .element {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }

  Based on https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_prefixer.scss
==============================================================================*/
@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix==webkit {
      -webkit-#{$property}: $value;
    }

    @else if $prefix==moz {
      -moz-#{$property}: $value;
    }

    @else if $prefix==ms {
      -ms-#{$property}: $value;
    }

    @else if $prefix==o {
      -o-#{$property}: $value;
    }

    @else if $prefix==spec {
      #{$property}: $value;
    }

    @else {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}
iframe {
  width: 100%;
}
// custom container
.container-fluid {
  padding-left: 160px;
  padding-right: 160px;
}

@media (max-width: 1800px) {
  .container-fluid {
    padding-left: 5%;
    padding-right: 5%;
  }
}


@media (max-width: 575px) {
  .container-fluid {
    padding-left: var(--bs-gutter-x, .75rem);
    padding-right: var(--bs-gutter-x, .75rem);
  }
}


// background & color
.bg-1 {
  background-color: #00234D;
}

.bg-2 {
  background-color: #000;
}

.bg-3 {
  background-color: #F76B6A;
}

.bg-4 {
  background-color: #071C1F;
}

.bg-5 {
  background-color: #FBF3F0;
}

.bg-pink {
  background-color: #FFF3F3;
}

.bg-trust-1 {
  background-color: #FCEDDA;
}

.bg-trust-2 {
  background-color: #F2FBCB;
}

.bg-trust-3 {
  background-color: #F7D8F9;
}

// button and input
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-member,
.btn-member:hover,
.btn-member:focus {
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  padding: 0 17px;
  height: 40px;
  @include prefix(box-shadow, none !important, ms webkit spec);
  @include prefix(display, inline-flex, ms webkit spec);
  @include prefix(align-items, center, ms webkit spec);
  @include prefix(justify-content, center, ms webkit spec);
}

.btn-member,
.btn-member:hover,
.btn-member:focus {
  min-width: 140px;
  height: 47px;
  color: #fff;
}

.btn-primary,
.btn-member {
  @include prefix(border-radius, var(--btn-primary-border-radius), ms webkit spec);
  color: var(--btn-primary-color);
  border: 1px solid var(--btn-primary-border-color);
  background-color: var(--btn-primary-background-color);
  font-weight: var(--btn-primary-font-weight);
}

.btn-secondary {
  @include prefix(border-radius, var(--btn-secondary-border-radius), ms webkit spec);
  color: var(--btn-secondary-color);
  border: 1px solid var(--btn-secondary-border-color);
  background-color: var(--btn-secondary-background-color);
  font-weight: var(--btn-secondary-font-weight);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-member:hover,
.btn-member:focus {
  color: var(--btn-primary-hover-color);
  border: 1px solid var(--btn-primary-border-hover-color);
  background-color: var(--btn-primary-background-hover-color);
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--btn-secondary-hover-color);
  border: 1px solid var(--btn-secondary-border-hover-color);
  background-color: var(--btn-secondary-background-hover-color);
}

.input-reset,
.btn-reset {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
}

.field {
  height: 48px;
  background: #E5E5E5;
  padding: 0 15px;
  @include prefix(border-radius, 0.25rem, ms webkit spec);
  @include prefix(display, flex, ms webkit spec);
  @include prefix(align-items, center, ms webkit spec);
  @include prefix(justify-content, space-between, ms webkit spec);
}

.field-input {
  width: 100%;
  font-size: 14px;
  color: #000;
}

input[type="number"] {
  -webkit-appearance: none !important;
  appearance: none !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}

// icon
.icon {
  width: 22px;
  height: 22px;
}

// overlay
.overlay-furniture,
.overlay-tools,
.overlay {
  position: relative;
}

.overlay-furniture:before,
.overlay-tools:before,
.overlay:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.overlay-tools:before {
  background-color: rgba(7, 28, 31, 0.5);
}

.overlay-furniture:before {
  background-color: rgba(0, 35, 77, 0.5);
}

/*============================================================================
    Template Common CSS
==============================================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
}

body {
  color: var(--body-color);
  background-color: var(--body-background-color);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  font-family: var(--body-font-family);
  letter-spacing: 0.5px;
  padding-right: 0 !important;
}

.body-wrapper {
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

// heading and text
.heading_72,
.heading_48,
.heading_42,
.heading_34,
.heading_24,
.heading_18,
.text_16,
.text_14,
.text_12 {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
}

.heading_72 {
  font-weight: 600;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0;
}

.heading_48 {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.12;
  letter-spacing: 0.01em;
}

.heading_42 {
  font-weight: 600;
  font-size: 42px;
  line-height: 1.12;
  letter-spacing: 0.01em;
}

.heading_34 {
  font-weight: 600;
  font-size: 34px;
  line-height: 1.08;
  letter-spacing: 0.25px;
}

.heading_18 {
  font-size: 18px;
  line-height: 1.5;
}

.text_16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68;
  letter-spacing: 0.5px;
}

.text_14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.08;
}

.text_12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4px;
}

.link-underline {
  text-decoration: underline;
  @include prefix(transition, all 0.3s ease, ms webkit spec);

  &:hover {
    color: var(--secondary-color);
    text-decoration: underline;
  }
}

// animation
@keyframes upDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0);
  }
}


// color
.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

a,
a:focus,
a:hover {
  text-decoration: none;
  border: none;
  outline: none;
  @include prefix(transition, all 0.3s, ms webkit spec);
}

img {
  max-width: 100%;
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

button,
.offcanvas {
  @include prefix(border, none !important, ms webkit spec);
  @include prefix(outline, none !important, ms webkit spec);
  @include prefix(box-shadow, none !important, ms webkit spec);
}

// global slideshow, banner content
.content-absolute {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.height-inherit {
  height: inherit;
}

// section header
.section-heading {
  color: var(--section-heading-color);
  font-family: var(--section-heading-font-family);
  font-size: var(--section-heading-font-size);
  font-weight: var(--section-heading-font-weight);
  margin-bottom: 0;
  line-height: 1.5;

  &.primary-color {
    color: var(--primary-color);
  }
}

.section-subheading {
  color: var(--section-subheading-color);
  font-family: var(--section-subheading-font-family);
  font-size: var(--section-subheading-font-size);
  font-weight: var(--section-subheading-font-weight);
  margin-top: 10px;
  margin-bottom: 0;

  &.primary-color {
    color: var(--primary-color);
  }
}

.section-icon {
  margin-bottom: 10px;
}

// slick
.slick-initialized .slick-slide {
  outline: none;
}

.common-slider .slick-slide {
  margin: 0 12px;
}

.common-slider .slick-list {
  margin: 0 -12px;
}

.show-arrows-always .arrow-slider {
  opacity: 1;
  visibility: visible;
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  @include prefix(display, flex, ms webkit spec);
  @include prefix(align-items, center, ms webkit spec);
  @include prefix(justify-content, center, ms webkit spec);
  @include prefix(border-radius, 0.25rem, ms webkit spec);
}

.show-arrows-always .arrow-slider svg {
  width: 24px;
  stroke: #000;
  stroke-width: 1.5px;
}

.arrows-white .arrow-slider svg {
  stroke: #fff;
}

.article-arrows .arrow-slider {
  opacity: 0;
  visibility: hidden;
  @include prefix(transition, all 0.3s, ms webkit spec);

  .home-section:hover & {
    opacity: 1;
    visibility: visible;
  }
}

// slick
.slick-dots {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: absolute;
  bottom: 15px;
  left: 50%;
  @include prefix(transform, translateX(-50%), ms webkit spec);

  li {
    width: 12px;
    height: 8px;
    background-color: #000;
    opacity: 0.5;
    margin: 0 6px;
    cursor: pointer;

    @include prefix(border-radius, 8px, ms webkit spec);
    @include prefix(transition, all 0.3s ease, ms webkit spec);

    &.slick-active {
      opacity: 1;
      width: 24px;
    }

    button {
      display: none;
    }
  }
}

.slick-arrow[aria-disabled="true"] {
  pointer-events: none;
  opacity: 0.5 !important;
}


// show second image on hover
.hover-switch {
  position: relative;
  display: block;

  .primary-img,
  .secondary-img {
    @include prefix(transition, all 0.7s ease, ms webkit spec);
  }
}

.secondary-img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.product-card:hover .secondary-img {
  opacity: 1;
  visibility: visible;
}

.product-card:hover .secondary-img+.primary-img {
  opacity: 0;
  visibility: hidden;
}

.scroll-horizontal {
  overflow: hidden;
  overflow-x: auto;
}
#scrollup {
  position: fixed;
  display: inline-block;
  background-color: #000;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  cursor: pointer;
}
#scrollup.show {
  opacity: 1;
  visibility: visible;
}